@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titan+One&display=swap');
* {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Titan One', cursive;
}
html{

}
body {
    background-color: #4cff00;
    color: #000000;
}
